//colors
$color-white: #fff;
$color-black: #000;
$color-matched-pill: #2196f3;
$color-default-pill: #f4f4f4;
$color-main: #848484;
$color-online-status: #10b56b;

//fonts
$font-family: 'Open Sans', sans-serif;